{% extends 'base.html.j2' %}

{%block header %}
  <h1>{% block title %}About{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2> About Me Page </h2>
  <a href='/'>Home Page</a>
{% endblock %}
