{% extends 'blog_base.html.j2' %}

{% block title %}Blog{% endblock %}

{% block content %}

{% if msgList is defined %}
  {% for item in msgList %}
  <h2>{{ item.get_message() }}</h2>
  {% endfor %}
{% endif %}
    <form method="post">
        <div class="form-group">
            <h3 class="mb-0">Submit a message</h3>
            <label class="mb-0" style="width:50%" for="exampleFormControlTextarea1" \>
            <textarea type="message" id="message" for="message" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
