{% extends 'blog_base.html.j2' %}

{% block title %}Blog{% endblock %}

{% block content %}

{% if msgList is defined %}
  {% for item in msgList %}
  <h2>{{ item.get_message() }}</h2>
  {% endfor %}
{% endif %}

{% endblock %}
