{% extends 'base.html.j2' %}
{% block header %}
	<h1>{% block title %}Index Page {% endblock %}</h1>
{% endblock %}

{% block content %}
	<h2>This is the index page</h2>
	<a href='/about'>About Page</a>
{% endblock %}
