{% extends 'base.html.j2' %}

{% block title %}Index Page {% endblock %}

{% block content %}
{% if registerSuccess is defined %}
	<h2>Successfully Registered</h2>
{% endif %}
<h1>Daily Joy!</h1>
<p class="lead">Welcome to Daily Joy!</p>
<p class="lead">
	<a href="/register" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Register Here</a>
</p>

<!-- <form method="post">
	<input type="text" id="location" name="location" for="location" placeholder="Enter location" />
	<input type="submit" value="Submit"/>
</form> -->

{% endblock %}
