{% extends 'base.html.j2' %}

{% block title %}Index Page {% endblock %}

{% block content %}
<h1>Business Meets - Hack Violet!</h1>
<p class="lead">Welcome to Business Meets!</p>
<p class="lead">
	<a href="/register" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Register Here</a>
</p>

<form method="post">
	<input type="text" id="location" name="location" for="location" placeholder="Enter location" />
	<input type="submit" value="Submit"/>
</form>
{% endblock %}
