{% extends 'layout_register.html.j2' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<form method="post">
  <img class="mb-4" src="
  https://i.pinimg.com/originals/89/7a/61/897a61f56ec18239c658bf02cdba1b6e.jpg"
  alt="" width="72" height="57">
  <h1 class="h3 mb-3 fw-normal">Please register</h1>
  <label for="inputUsername" class="visually-hidden">Username</label>
  <input type="username" name="username" for="username" class="form-control" placeholder="Username" required>
  <label for="inputFirstName" class="visually-hidden">First name</label>
  <input type="fName" name="fName" for="fName" class="form-control" placeholder="First name" required>
  <label for="inputLastName" class="visually-hidden">Last name</label>
  <input type="lName" name="lName" for="lName" class="form-control" placeholder="Last name" required>
  <label for="inputEmail" class="visually-hidden">Email address</label>
  <input type="email" name="email" for="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="visually-hidden">Password</label>
  <input type="password" name="password" for="password" id="inputPassword" class="form-control" placeholder="Password" required autofocus>
  <label for="inputConfirmPassword" class="visually-hidden">Confirm Password</label>
  <input type="confirmPassword" name="confirmPassword" for="confirmPassword" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required autofocus>

  <div class="container">
    <div class="row">
      <div class="col">
        <a href="/"><button type="button" class="w-100 btn btn-lg btn-secondary">Back</button></a>
      </div>
      <div class="col">
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
      </div>
    </div>
  </div>
  <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
</form>
{% endblock %}
